html {
    background-color: rgb(231, 231, 231);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(87, 87, 87);
}

h1 {
    font-weight: bold;
}

h2 {
    border-bottom: rgb(231, 231, 231) 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top:.5in;
    padding-bottom: 15px;

}

button {
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    margin-bottom: 40px;
}

.button1 {
    background-color: rgb(202, 2, 2);
    color: white;
    border-radius: 25px;
}

.button1:hover {
    background-color: rgb(145, 0, 0);
}

.button1:active {
    background-color: rgb(104, 0, 0);
}

.button2 {
    background-color: grey;
    color: white;
    border-radius: 25px;
}

.button2:hover {
    background-color: rgb(97, 97, 97);
}

.button2:active {
    background-color: rgb(65, 65, 65);
}

.pass {
    border: 3px solid grey;
}




